/config/app.php
/tmp/*
/logs/*
/vendor
/plugins/*
.htaccess
composer.lock
index.php

nbproject/private/config.properties
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
*.db
*.htaccess
webroot/.htaccess